*{
    margin: 0;
    padding: 0;
}
:root {
  --purple: #B52C61;
  --white: #ffffff;
  --black: #000;
  --light-black: #1e293b;
}
body{
    font-family: "Manrope", Sans-serif;
}
.text-primary{
    color: var(--purple)!important;
}

.btn-warning{
    background: var(--purple)!important;
    border: 1px ;
}
.bttn-primary{
    color: var(--purple);
    border: 1px solid var(--purple);
    border-radius: 50px;
    padding: 10px 40px;
    text-decoration: none;
}
.bttn-primary:hover{
    background: var(--purple);
    color: var(--white);
}
.btttn-secondary{
    background: var(--purple);
    padding: 10px 40px!important;
    border-radius: 50px;
    border: 1px solid var(--purple);
    display: inline-block;
/*    margin-bottom: 10px;*/
}
.btttn-primary{
    background: var(--white);
    padding: 10px 40px!important;
    border-radius: 50px;
    color: var(--purple)!important;
}
.btttn-primary:hover{
    background: transparent;
    border: 1px solid var(--white);
    padding: 10px 40px!important;
    border-radius: 50px;
    color: var(--white)!important;
}
.btttn-secondary:hover{
    background: var(--white);
    padding: 10px 40px!important;
    border-radius: 50px;
    color: var(--purple)!important;
}
.bttn-secondary{
    background: var(--purple);
    border: 1px solid var(--purple);
    border-radius: 50px;
    padding: 10px 40px;
    color: var(--white);
    text-decoration: none;
}
.bttn-secondary:hover{
    background: transparent;
    color: var(--purple);
    border: 1px solid var(--purple);
}


/*Menu*/
header#StickyHeader{
    box-shadow: 0px 0px 4px rgba(000, 000, 000, 0.15)
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  background: #fff;
  box-shadow: 0px 0px 4px 2px #BC2E65!important;
}

.sticky + .content {
  padding-top: 100px;
}
.nav-link{
	color: #fff;
}
.top-header~nav.navbar {
    border-block: 1px solid rgb(55, 64, 82, 32%);
}

.nav-item:not(:last-child) {
    margin-right: 20px;
}

.navbar-expand-lg .navbar-nav .nav-item:hover .dropdown-menu {
    max-height: 450px;
    padding: 50px 0;
    color: #fff;
}
.navbar-expand-lg .navbar-nav .nav-item a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    padding: 0;
}

.navbar-expand-lg .navbar-nav .nav-item .dropdown-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 0;
}
/*.sticky .navbar-expand-lg .navbar-nav .nav-item a{
    color: #fff;
}*/

.navbar-expand-lg .navbar-nav .dropdown-menu::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000008f;
    opacity: .9;
    z-index: -1;
}

.navbar-expand-lg .navbar-nav .nav-item:hover .dropdown-menu a {
    color: #fff;
    text-decoration: none;
}

.dropdown-menu .h6 {
    font-weight: 800;
    color: var(--purple);
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    width: 100%;
    display: block;
    top: 100%;
    max-height: 0;
    left: 0;
    z-index: 4;
    padding: 0;
    overflow: hidden;
    background: url(../images/megamenu-bg.jpg) center no-repeat;
    background-size: cover;
    border: 0;
    border-radius: 0;
    box-shadow: 0 6px 20px 0 #ffd54f29;
    transition: all .5s ease-in-out;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

/* header style */
.offcanvas {
    --bs-offcanvas-width: 320px;
}

.mega-dropdown {
    position: static !important;
}

.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    left: 0;
    top: 78%;
}

.mega-dropdown-menu ul.list-unstyled {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu ul.list-unstyled li a {
    display: inline-block;
    color: #222;
    padding: 3px 5px;
}

.mega-dropdown-menu ul.list-unstyled li a:hover,
.mega-dropdown-menu ul.list-unstyled li a:focus {
    text-decoration: none;
    color: #ffc107;
}

.mega-dropdown-menu .dropdown-header {
    font-size: 18px;
    color: #ffc107;
    padding: 5px 60px 5px 5px;
    line-height: 30px;
    font-weight: 600;
}

header .container-fluid {
    width: 97%;
}

.navbar-brand img {
    max-width: 200px
}

.navbar-nav .nav-link {
    color: var(--bs-white);
    font-weight: 500;
}

.navbar-nav .nav-link.active {
    color: var(--theme-primary);
}

.mobile-menu-toggle {
    background: transparent;
    border: none;
}

.mobile-menu {
    width: 300px !important;
    background: #000 !important;
}

.mobile-menu .offcanvas-header .btn-close {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
}

.mobile-menu-wrap .mobile-menu-list {
    list-style: none;
    padding: 0;
}

.mobile-menu-wrap .mobile-menu-list li {
    list-style: none !important;
}

.mobile-menu-wrap .mobile-menu-list li .menu-link {
    padding: 0px 15px 15px 15px;
    display: flex;
    color: #fff;
    font-size: 17px;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.mobile-menu-wrap .mobile-menu-list>li {
    margin-bottom: 10px;
    border-bottom: 1px solid #51565c52;
}

.mobile-menu-wrap .mobile-menu-list li:last-child {
    border-bottom: 0px;
}

.login-btn {
    padding: 15px;
}

.dropdown-mb-menu {
    display: none;

}

.dropdown-mb-menu ul {
    padding-left: 0px;
}

.dropdown-mb-menu ul li a {
    padding: 0px 15px 15px 25px;
    color: #fff;
    display: block;
    text-decoration: none;
}

.dropdown-mb-menu ul li:last-child a {
    padding-bottom: 0;
}

.dropdown-mb-menu ul li {
    margin-bottom: 10px;
    border-bottom: 1px solid #51565c52;
}

.dropdown-mb-menu ul li:last-child {
    border-bottom: 0;
}

.nav-item:not(:last-child) {
    margin-right: 15px;
}

.toggler-icon {
    color: #000!important;
    font-size: 30px;

}
/*Menu*/

/*Footer*/
.footer-section{
    padding: 50px 50px 0;
    border-top: 2px solid var(--purple);
}
.social-media-icon{
    float: right;
}
.social-media-icon i{
    padding: 10px;
    background: var(--purple);
    color: var(--white);
    border-radius: 50%;
    transition-duration: .3s;
}
.social-media-icon i:hover{
    background: var(--black);
    transition-duration: .3s;
}
.footer-links h6{
    font-weight: 800;
    font-size: 18px;
}
.footer-links ul{
    padding: 0;
}
.footer-links li{
    list-style: none;
}
.footer-links li a{
    color: var(--black);
    text-decoration: none;
}
.footer-section p{
    color: #67768e;
}
.copyrights{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}
.copyrights a{
    font-weight: 600;
    color: var(--black);
    text-decoration: none;
}
.newsletter_section{
    padding: 80px 0;
}
.regulation_ul{
    margin: 0;
}
.regulation_ul li{
    width: 50%;
    float: left;
    list-style: none;
}
.last-image{
    width: 20%;
    margin-left: 25%;
}
.regulation_heading{
    color: var(--light-black);
    font-weight: 600;
    font-size: 40px;
}
.risk_disclosure{
    font-weight: 800;
    color: var(--black);
}
/*Footer*/