*{
    margin: 0;
    padding: 0;
}
:root {
  --purple: #B52C61;
  --white: #ffffff;
  --black: #000;
  --light-black: #1e293b;
}
body{
    font-family: "Manrope", Sans-serif;
}
.main-heading{
    color: var(--purple);
    font-weight: 700;
    text-align: center;
}
.text-primary{
    color: var(--purple)!important;
}

.btn-warning{
    background: var(--purple)!important;
    border: 1px ;
}
.bttn-primary{
    color: var(--purple);
    border: 1px solid var(--purple);
    border-radius: 50px;
    padding: 10px 40px;
    text-decoration: none;
}
.bttn-primary:hover{
    background: var(--purple);
    color: var(--white);
}
.btttn-secondary{
    background: var(--purple);
    padding: 10px 40px!important;
    border-radius: 50px;
    border: 1px solid var(--purple);
    display: inline-block;
/*    margin-bottom: 10px;*/
}
.btttn-primary{
    background: var(--white);
    padding: 10px 40px!important;
    border-radius: 50px;
    color: var(--purple)!important;
}
.btttn-primary:hover{
    background: transparent;
    border: 1px solid var(--white);
    padding: 10px 40px!important;
    border-radius: 50px;
    color: var(--white)!important;
}
.btttn-secondary:hover{
    background: var(--white);
    padding: 10px 40px!important;
    border-radius: 50px;
    color: var(--purple)!important;
}
.bttn-secondary{
    background: var(--purple);
    border: 1px solid var(--purple);
    border-radius: 50px;
    padding: 10px 40px;
    color: var(--white);
    text-decoration: none;
}
.bttn-secondary:hover{
    background: transparent;
    color: var(--purple);
    border: 1px solid var(--purple);
}


/*Menu*/
header#StickyHeader{
    box-shadow: 0px 0px 4px rgba(000, 000, 000, 0.15)
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  background: #fff;
  box-shadow: 0px 0px 4px 2px #BC2E65!important;
}

.sticky + .content {
  padding-top: 100px;
}
.nav-link{
	color: #fff;
}
.top-header~nav.navbar {
    border-block: 1px solid rgb(55, 64, 82, 32%);
}

.nav-item:not(:last-child) {
    margin-right: 20px;
}

.navbar-expand-lg .navbar-nav .nav-item:hover .dropdown-menu {
    max-height: 450px;
    padding: 50px 0;
    color: #fff;
}
.navbar-expand-lg .navbar-nav .nav-item a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    padding: 0;
}

.navbar-expand-lg .navbar-nav .nav-item .dropdown-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 0;
}
/*.sticky .navbar-expand-lg .navbar-nav .nav-item a{
    color: #fff;
}*/

.navbar-expand-lg .navbar-nav .dropdown-menu::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000008f;
    opacity: .9;
    z-index: -1;
}

.navbar-expand-lg .navbar-nav .nav-item:hover .dropdown-menu a {
    color: #fff;
    text-decoration: none;
}

.dropdown-menu .h6 {
    font-weight: 800;
    color: var(--purple);
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    width: 100%;
    display: block;
    top: 100%;
    max-height: 0;
    left: 0;
    z-index: 4;
    padding: 0;
    overflow: hidden;
    background: url(../images/megamenu-bg.jpg) center no-repeat;
    background-size: cover;
    border: 0;
    border-radius: 0;
    box-shadow: 0 6px 20px 0 #ffd54f29;
    transition: all .5s ease-in-out;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

/* header style */
.offcanvas {
    --bs-offcanvas-width: 320px;
}

.mega-dropdown {
    position: static !important;
}

.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    left: 0;
    top: 78%;
}

.mega-dropdown-menu ul.list-unstyled {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu ul.list-unstyled li a {
    display: inline-block;
    color: #222;
    padding: 3px 5px;
}

.mega-dropdown-menu ul.list-unstyled li a:hover,
.mega-dropdown-menu ul.list-unstyled li a:focus {
    text-decoration: none;
    color: #ffc107;
}

.mega-dropdown-menu .dropdown-header {
    font-size: 18px;
    color: #ffc107;
    padding: 5px 60px 5px 5px;
    line-height: 30px;
    font-weight: 600;
}

header .container-fluid {
    width: 97%;
}

.navbar-brand img {
    max-width: 200px
}

.navbar-nav .nav-link {
    color: var(--bs-white);
    font-weight: 500;
}

.navbar-nav .nav-link.active {
    color: var(--theme-primary);
}

.mobile-menu-toggle {
    background: transparent;
    border: none;
}

.mobile-menu {
    width: 300px !important;
    background: #000 !important;
}

.mobile-menu .offcanvas-header .btn-close {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
}

.mobile-menu-wrap .mobile-menu-list {
    list-style: none;
    padding: 0;
}

.mobile-menu-wrap .mobile-menu-list li {
    list-style: none !important;
}

.mobile-menu-wrap .mobile-menu-list li .menu-link {
    padding: 0px 15px 15px 15px;
    display: flex;
    color: #fff;
    font-size: 17px;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.mobile-menu-wrap .mobile-menu-list>li {
    margin-bottom: 10px;
    border-bottom: 1px solid #51565c52;
}

.mobile-menu-wrap .mobile-menu-list li:last-child {
    border-bottom: 0px;
}

.login-btn {
    padding: 15px;
}

.dropdown-mb-menu {
    display: none;

}

.dropdown-mb-menu ul {
    padding-left: 0px;
}

.dropdown-mb-menu ul li a {
    padding: 0px 15px 15px 25px;
    color: #fff;
    display: block;
    text-decoration: none;
}

.dropdown-mb-menu ul li:last-child a {
    padding-bottom: 0;
}

.dropdown-mb-menu ul li {
    margin-bottom: 10px;
    border-bottom: 1px solid #51565c52;
}

.dropdown-mb-menu ul li:last-child {
    border-bottom: 0;
}

.nav-item:not(:last-child) {
    margin-right: 15px;
}

.toggler-icon {
    color: #000!important;
    font-size: 30px;

}
/*Menu*/

/*Footer*/
.footer-section{
    padding: 50px 50px 0;
    border-top: 2px solid var(--purple);
}
.social-media-icon{
    float: right;
}
.social-media-icon i{
    padding: 10px;
    background: var(--purple);
    color: var(--white);
    border-radius: 50%;
    transition-duration: .3s;
}
.social-media-icon i:hover{
    background: var(--black);
    transition-duration: .3s;
}
.footer-links h6{
    font-weight: 800;
    font-size: 18px;
}
.footer-links ul{
    padding: 0;
}
.footer-links li{
    list-style: none;
}
.footer-links li a{
    color: var(--black);
    text-decoration: none;
}
.footer-section p{
    color: #67768e;
}
.copyrights{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}
.copyrights a{
    font-weight: 600;
    color: var(--black);
    text-decoration: none;
}
.newsletter_section{
    padding: 80px 0;
}
.regulation_ul{
    margin: 0;
}
.regulation_ul li{
    width: 50%;
    float: left;
    list-style: none;
}
.last-image{
    width: 20%;
    margin-left: 25%;
}
.regulation_heading{
    color: var(--light-black);
    font-weight: 600;
    font-size: 40px;
}
.risk_disclosure{
    font-weight: 800;
    color: var(--black);
}
/*Footer*/
/*Why NXG Markets*/
.why-nxg-markets{
    padding: 80px 0;
    background: var(--black);
}
.icon-div{
    display: flex;
    justify-content: center;
}
.icon-div p{
    font-size: 35px;
    color: var(--white);
    padding: 30px;
    background: var(--purple);
    border-radius: 50%;
    line-height: 15px;
}
/*.icon-box {
    border: 1px solid var(--purple);
    padding: 15px;
    text-align: center;
}*/
.road-map-main {
  margin: 50px 0 51px;
}
.road-map-main .road-map-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 175px;
}
@media (max-width: 991px) {
  .road-map-main .road-map-wrapper {
    margin-bottom: 25px;
    height: auto;
    display: block;
  }
}
.road-map-main .road-map-wrapper::before {
  content: "";
  width: 100%;
  clear: both;
  display: block;
}
.road-map-main .road-map-wrapper::after {
  content: "";
  width: 100%;
  clear: both;
  display: block;
}
.road-map-main .road-map-wrapper .road-map-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 25px solid transparent;
  border-top-color: var(--purple);
  border-right-color: var(--purple);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(45deg);
}
@media (max-width: 992px) {
  .road-map-main .road-map-wrapper .road-map-circle {
    position: unset;
    border: 25px solid var(--purple);
  }
}
.road-map-main .road-map-wrapper .road-map-circle .road-map-circle-text {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: var(--white);
  font-size: 25px;
  font-weight: 600;
  line-height: 26px;
  text-transform: capitalize;
  color: var(--purple);
  box-shadow: 0px 0px 10px 5px #00000021;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(-45deg);
}
.road-map-main .road-map-wrapper .road-map-card {
  width: 35%;
  background: var(--purple);
  padding: 20px 20px;
  z-index: 1;
  position: absolute;
  right: 0;
  border-radius: 5px;
}
.road-map-main .road-map-wrapper .road-map-card::before {
  content: "";
  width: 25%;
  height: 20px;
  background: var(--purple);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -23%;
  z-index: -1;
}
@media (max-width: 991px) {
  .road-map-main .road-map-wrapper .road-map-card {
    width: 100%;
    margin-top: 30px;
    position: unset;
  }
  .road-map-main .road-map-wrapper .road-map-card::before {
    content: "";
    width: 20px;
    height: 30%;
    top: 50%;
    transform: translateX(-50%);
    left: 50%;
  }
}
@media (max-width: 425px) {
  .road-map-main .road-map-wrapper .road-map-card {
    top: 45%;
  }
}
.road-map-main .road-map-wrapper .road-map-card .card-head {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 15px;
  color: #fff;
}
.road-map-main .road-map-wrapper .road-map-card .card-text {
  color: #fff;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 1199px) {
  .road-map-main .road-map-wrapper .road-map-card .card-text {
    -webkit-line-clamp: 4;
  }
}
.road-map-main .road-map-wrapper:nth-of-type(even) .road-map-circle {
  border-bottom-color: var(--purple);
  border-left-color: var(--purple);
  border-top-color: transparent;
  border-right-color: transparent;
}
@media (max-width: 991px) {
  .road-map-main .road-map-wrapper:nth-of-type(even) .road-map-circle {
    border-color: var(--purple);
  }
}
.road-map-main .road-map-wrapper:nth-of-type(even) .road-map-card {
  left: 0;
}
.road-map-main .road-map-wrapper:nth-of-type(even) .road-map-card::before {
  right: -23%;
  left: unset;
}
@media (max-width: 991px) {
  .road-map-main .road-map-wrapper:nth-of-type(even) .road-map-card::before {
    content: "";
    width: 20px;
    height: 30%;
    top: 50%;
    transform: translateX(-50%);
    left: 50%;
  }
}
@media (max-width: 425px) {
  .road-map-main .road-map-wrapper:nth-of-type(even) .road-map-card::before {
    top: 45%;
  }
}
.start-trading{
    color: var(--purple);
    border: 1px solid var(--purple);
    border-radius: 50px;
    padding: 15px 40px;
    background: var(--white);
    text-decoration: none;
}
.start-trading:hover{
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 50px;
    padding: 15px 40px;
    background: transparent;
    text-decoration: none;
}
.theme-btn {
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-size: 17px;
  padding: 12px 60px 11px 30px;
  background: #fff;
  line-height: 25px;
  color: var(--purple);
  border: 2px solid var(--purple);
  font-weight: 500;
  border-radius: 30px;
  text-transform: capitalize;
  transition: all 500ms ease;
  cursor: pointer;
  z-index: 1;
  text-decoration: none;
}
.theme-btn:hover:after {
    transform: scale(1, 1);
    transform-origin: bottom left;
}
.theme-btn:after {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    content: "";
    background-color: var(--purple);
    border-radius: 30px;
    transform: scale(0, 1);
    transform-origin: top right;
    transition: transform 500ms;
}
.theme-btn:hover {
    color: #fff;
    text-decoration: none;
    border: 2px solid var(--white);
}
.theme-btn i {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: var(--purple);
    font-size: 17px;
    color: #fff;
    border-radius: 50%;
    transition: all 900ms ease;
    border: 2px solid var(--white);
}
.theme-btn2{
    padding: 10px 40px;
}
.theme-btn2:hover{
    border: 2px solid var(--purple);
}
/*Why NXG Markets*/

/*Multi-Language Assistance*/
.multi-language{
    padding: 80px 0;
    background: var(--purple);
}
.theme-bttn {
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-size: 17px;
  padding: 12px 60px 11px 30px;
  background: var(--black);
  line-height: 25px;
  color: var(--white);
  border: 2px solid var(--black);
  font-weight: 500;
  border-radius: 30px;
  text-transform: capitalize;
  transition: all 500ms ease;
  cursor: pointer;
  z-index: 1;
  text-decoration: none;
}
.theme-bttn:hover:after {
    transform: scale(1, 1);
    transform-origin: bottom left;
}
.theme-bttn:after {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    content: "";
    background-color: var(--white);
    border-radius: 30px;
    transform: scale(0, 1);
    transform-origin: top right;
    transition: transform 500ms;
}
.theme-bttn:hover {
    color: #000;
    text-decoration: none;
    border: 2px solid var(--black);
}
.theme-bttn i {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: var(--white);
    font-size: 17px;
    color: var(--black);
    border-radius: 50%;
    transition: all 900ms ease;
    border: 2px solid var(--black);
}
.get-in-touch{
    text-align: right;
}
/*Multi-Language Assistance*/

/*Why Trade with NXG Markets?*/
.why-trade-with-nxg{
    padding: 80px 0;
    background: var(--purple);
}
.icon-box .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border: 2px solid var(--white);
    color: var(--white);
    border-radius: 50px;
    transition: 0.5s;
}
.icon-box .title {
    margin-left: 85px;
    color: var(--white);
    margin-bottom: 10px;
}
.icon-box .description {
    margin-left: 85px;
    color: var(--white);
}
/*Why Trade with NXG Markets?*/

/*Trade Instruments*/
.trade-section{
    padding: 80px 0;
}
.trade-list li{
    width: 20%;
    float: left;
    list-style: none;
}
.image-boxx {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.image-boxx a{
    display: contents;
    color: var(--purple);
}
.image-boxx span.active img{
    filter: brightness(0) invert(1);
}
.image-boxx span.active{
    background: var(--purple);
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 20px
}
.image-boxx span{
    background: transparent;
    border: 2px solid var(--purple);
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 20px;
    transition: 0.3s;
}
.image-boxx span:hover{
    background: var(--purple);
    border: 2px solid var(--purple);
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.image-boxx span:hover img{
    filter: brightness(0) invert(1);
    transition: 0.3s;
}
/*Trade Instruments*/